.products-container {
  width: 100%;
  margin: 50px 0;
  &--title {
    text-align: center;
    font-family: var(--font-playfairDisplay);
    color: var(--color-brown-primary);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 54px;
    @media screen and (max-width: 400px) {
      font-size: 2.25rem;
    }
  }
  .images-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 80%;
    margin: 0 auto 54px;

    .product-image {
      height: 350px;
      min-width: 250px;
      max-width: 250px;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 20px;
      scroll-snap-align: center;
      cursor: grab;
    }
  }
  a {
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 74px;
    background-color: var(--color-brown-primary);
    transition: all 0.2s;
    border-radius: 13px;
    cursor: pointer;
    @media screen and (max-width: 400px) {
      margin-top: 60px;
    }
    .anchor-text {
      cursor: inherit;
      text-align: center;
      font-size: 22px;
      letter-spacing: -0.4px;
      color: var(--color-white);
      font-family: var(--font-montserrat);
    }
    &:hover {
      transform: scale(1.03);
      opacity: 0.9;
    }
  }
  @media screen and (max-width: 400px) {
  }
  @media screen and (max-width: 400px) {
    margin-top: 0px;
  }
}
