@use "../../assets/styles/colors";

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  background-color: colors.$color-white;
  padding: 1em;
  box-shadow: 2px 4px 5px rgba(100, 100, 100, 0.2);
  z-index: 10;
  transition: all .2s ease-in;
  &_logo {
    max-width: 150px;
  }
  &_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    transition: all 0.1s ease-in;
    &-link {
      a {
        font-family: var(--font-playfairDisplay);
        color: colors.$eerie-black;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
          color: colors.$bittersweet;
        }
      }
    }
  }
  &_button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    &-icon {
      color: var(--color-black);
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    justify-content: space-between;
    &_links {
      position: absolute;
      right: -100%;
      top: 90px;
      bottom: 0;
      flex-direction: column;
      padding: 1em;
      width: 100vw;
      min-height: calc(100vh - 90px);
      background-color: #ffffff;
      z-index: 100;
      justify-content: start;
      align-items: flex-start;
      gap: 0;
      display: none;
      overflow-x: hidden;
      &-link {
        width: 100%;
        padding: 1em 0;
        a {
          font-size: 2rem;
        }
      }
    }
    &_button {
      display: block !important;
    }
  }
}

.shown {
  display: block;
  right: 0;
}
