.company {
  width: 100%;
  padding: 40px 10%;
  background-color: #f3f6f5;
  position: static;
  bottom: 0;
  margin-top: 50px;
  @media screen and (max-width: 400px) {
    text-align: center;
  }
  &_name {
    font-family: var(--font-playfairDisplay);
    font-size: 22px;
    padding-bottom: 5px;
  }
  &_address {
    font-family: var(--font-montserrat);
    font-size: 14px;
    &--title {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: var(--font-montserrat);
      font-weight: 500;
    }
  }
}
