@use "./assets/styles/colors";
//

h1 {
  // color: colors.$antiflash-white;
  color: var(--color-accent);
  font-family: var(--font-playfairDisplay);
}

.content-wrapper {
  width: 100%;
  max-width: 1680px;
}