@use "./assets/styles/colors";
//

h1 {
  // color: colors.$antiflash-white;
  color: var(--color-accent);
  font-family: var(--font-playfairDisplay);
}

.animation-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfb8a5;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.36);
}
