$eerie-black: #1e1e1eff;
$taupe: #48392aff;
$bistre: #43281cff;
$color-white: #f0f0f0ff;
$bittersweet: #BF7B57;

$font-montserrat: "Montserrat", sans-serif;
//
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;800&family=Roboto:wght@400;500;700&display=swap");

//

// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;

:root {
  --color-white: #f0f0f0ff;
  --color-black: #1e1e1eff;
  --color-brown-primary: #43281cff;
  --color-brown-secondary: #48392aff;
  --color-accent: #bf7b57;
  --color-accent2 : #b1d0c1;
  --font-montserrat: "Montserrat", sans-serif;
  --font-playfairDisplay: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
}
